
<h2>log in</h2>

<form method="POST">
    <input name="email" type="text" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <input name="_csrf" type="hidden" value="{{csrfToken}}">
    <button id='submit' type='submit' class='submit-button'>Login</button>
</form>
