<form method='POST'>
    <h2>Some profile DUDEls:</h2>

    <div class='profile'>
        <input name="age" type="text" placeholder="Age">
        <input name="city" type="text" placeholder="City">
        <input name="homepage" type="text" placeholder="Homepage">
        <input name="_csrf" type="hidden" value="{{csrfToken}}" >
    </div>
    <button id='submit' type='submit' class='submit-button'>CONTINUE</button>

</form>
