<h2>Thank you Dude!</h2>

<img class="signImg" src="{{signImg}}" alt="signature">

<p>Thank you! {{count}} DUDEs already signed</p>

<br>
<p>Check them <a href="/petition/signers"> Here</a></p>

<footer>
    <p>Press here to <a href="/edit">UPDATE</a> your account.</p>
    <p>Press here to Delete <a href="/delete-account">ACCOUNT</a>.</p>
    <p>Press here to Delete <a href="/delete-Signature">SIGNATURE</a>.</p>
</footer>
